---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

// const roles = (await getCollection('blog')).sort(sortItemsByDateDesc);
// const featuredRoles = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />

    <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
        <h2 class="text-xl font-serif italic sm:text-2xl">Teaching</h2>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            I teach fundamentals computing courses such as Fundamentals of Programming, and Fundamentals of Software Engineering, achieving some of the highest
            student-satisfactions scores at UNSW. Read my entire Student Experience Teacher Report (yes, my *entire* report, including the good, the bad, and
            the ugly)
        </div>
        <div class="flex flex-wrap gap-4">
            <Button href="https://github.com/jakerenzella/teacher-evaluation-reports/raw/master/unsw_22T2_TR.pdf">Download teaching report</Button>
        </div>
    </section>

    {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projects</h2>
                {featuredProjects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    }

    <section class="w-full flex flex-col gap-8 mb-12 sm:mb-12">
        <h2 class="text-xl font-serif italic sm:text-2xl">Quick Links</h2>
    </section>
    <div class="mt-12 sm:mt-16">
        <Button href="https://dl.acm.org/doi/abs/10.1145/3545945.3569768">Recent Publication</Button>
    </div>
    <div class="mt-4 sm:mt-6">
        <Button href="https://splashkit.io">SplashKit</Button>
    </div>
    <div class="mt-4 sm:mt-6">
        <Button href="https://formatif.app">Formatif</Button>
    </div>
    <div class="mt-4 sm:mt-6">
        <Button href="https://research.unsw.edu.au/people/dr-jake-renzella">UNSW Researcher Profile</Button>
    </div>
    <div class="mt-4 sm:mt-6">
        <Button href="https://scholar.google.com.au/citations?hl=en&user=l_sP9GcAAAAJ">Google Scholar</Button>
    </div>
    <div class="mt-4 sm:mt-6">
        <Button href="https://github.com/jakerenzella">Github</Button>
    </div>
</BaseLayout>
<!-- {
        featuredPosts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Writing</h2>
                {featuredPosts.map((post) => (
                    <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    } -->
