---
import { user } from 'scholarly';
import type { IArticle } from 'scholarly/dist/lib/interfaces';

const getPapers = async () => {
    const papers = await user('l_sP9GcAAAAJ');
    return papers;
};

const jakes_papers = await getPapers();
---

{
    jakes_papers.map((paper: IArticle) => (
        <p>
            {paper.title}, {paper.authors}, {paper.journal}, {paper.year}
        </p>
    ))
}
