---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import WritingPreview from '../../components/WritingPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const writing = (await getCollection('writing')).sort(sortItemsByDateDesc);
    return paginate(writing, { pageSize: 6 });
}

type Props = { page: Page<CollectionEntry<'writing'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout
    title="Dr Jake Renzella"
    description="Senior Lecturer, UNSW School of Computer Science and Engineering"
    image={{ src: '/preview.png', alt: 'Dr Jake Renzella' }}
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Writing and Media</h1>
    {portfolio.map((writing) => <WritingPreview writing={writing} class="mb-10 sm:mb-12" />)}
    <Pagination page={page} class="my-16 sm:my-24" />
</BaseLayout>
